<div class="content">
  <mat-card class="cardWithShadow">
    <mat-card-header>
      <app-content-header [data]="data.headerData"></app-content-header>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <div class="modal-container">
        <i class="fas fa-check-circle"></i>
        <div class="modal-message">
          <h2>Please enter a password</h2>
          <input type="password"[(ngModel)]="password">
        </div>
        <div class="modal-buttons">
          <button mat-flat-button color="primary" (click)="submitPassword(password)">Submit</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
