
<mat-card class="cardWithShadow">
  <mat-card-header>
    <app-content-header [data]="data.headerData"></app-content-header>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="modal-container">
      <i class="fas fa-check-circle"></i>
      <div class="modal-message">
        <img src="../../../assets/images/icons/shield.png" alt="shield" style="width: 18em; height: 18em;">
        <h2>Please enter a password</h2>
      <!--  <input type="password"[(ngModel)]="password"> -->
        <div id='inputs'>
          <input #input1 id='input1' type='password' maxLength="1" />
          <input #input2 id='input2' type='password' maxLength="1" />
          <input #input3 id='input3' type='password' maxLength="1" />
          <input #input4 id='input4' type='password' maxLength="1" />
          <input #input5 id='input5' type='password' maxLength="1" />
          <input #input6 id='input6' type='password' maxLength="1" />
        </div>
      </div>
      <div class="modal-buttons">
        <button #submitButton type="button"
          [disabled]="!inputsFilled"
          (click)="submitPassword()">Submit</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <div class="mainContent">
  <section>
    <div class="title">OTP</div>
    <div class="title">Authorization</div>
    <p>Please enter a password</p>
    <div id='inputs'>
      <input id='input1' type='text' maxLength="1" />
      <input id='input2' type='text' maxLength="1" />
      <input id='input3' type='text' maxLength="1" />
      <input id='input4' type='text' maxLength="1" />
    </div>
    <button>Submit</button>
  </section>
</div> -->


