<form [formGroup]="billForm">
  <div class="content m-t-16">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Account No</mat-label>
      <input
        matInput
        formControlName="AccountNumber"
        (keyup.enter)="viewBillInfo(accountNumber)"
        #searchAccount
        />
    </mat-form-field>
    <button type="button" mat-flat-button color="primary" (click)="searchConsumer()" *ngIf="formData.action === 'Create'">search</button>
  </div>
  <div fxLayout="row" fxLayoutGap="1em">
    <div fxLayout="column" fxFlex="30" fxLayoutGap="1em">
      <mat-card class="b-1 shadow-none" *ngIf="data.consumerInfo">
        <mat-card-header>
          <mat-card-title>Consumer Details</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <app-consumer-info-summary [data]="data"></app-consumer-info-summary>

        </mat-card-content>
      </mat-card>
      <!-- status -->
      <mat-card class="b-1 shadow-none">
        <mat-card-header>
          <mat-card-title>Status</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <p class="mat-subtitle-2 f-w-600 p-16 bg-light-primary rounded m-t-16">Pending</p>
          <mat-checkbox class="m-t-16" formControlName="IsSenior">Senior Citizen</mat-checkbox>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="40" fxLayoutGap="1em">
      <!-- meter Reading -->
      <mat-card class="b-1 shadow-none">
        <mat-card-header>
          <mat-card-title>Meter Reading</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <div fxLayout="row" fxLayoutGap="1em" class="m-t-16">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Current</mat-label>
              <input matInput formControlName="CurrentReading" #currentReading onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Previous</mat-label>
              <input matInput formControlName="LastMeterReading" readonly/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Consumption</mat-label>
              <input matInput formControlName="Consumption" readonly/>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="1em">
            <mat-form-field appearance="outline" class="w-100" fxFlex="30">
              <mat-label>Average Consumption</mat-label>
              <input matInput formControlName="AverageCons" readonly/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100" fxFlex="70">
              <mat-label>Meter Reader</mat-label>
              <mat-select formControlName="MeterReader">
                <mat-option *ngFor="let meterreader of meterreaders" [value]="meterreader.reader_name"> {{ meterreader.reader_name }} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- period covered -->
      <mat-card class="b-1 shadow-none">
        <mat-card-header>
          <mat-card-title>Period Covered</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <div fxLayout="row" fxLayoutGap="1em" class="m-t-16">
            <mat-form-field appearance="outline" fxFlex="50">
              <mat-label>Month</mat-label>
              <mat-select formControlName="Month">
                <mat-option *ngFor="let month of months" [value]="month"> {{ month }} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50">
              <mat-label>Year</mat-label>
              <mat-select formControlName="Year">
                <mat-option *ngFor="let year of years" [value]="year"> {{ year }} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="1em">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Date from</mat-label>
              <input matInput [matDatepicker]="picker1" placeholder="Date from" formControlName="DateFrom">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Date to</mat-label>
              <input matInput [matDatepicker]="picker2" placeholder="Date to" formControlName="DateTo">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="picker3" placeholder="Due Date" formControlName="DueDate">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="30" fxLayoutGap="1em">
      <mat-card class="b-1 shadow-none">
        <mat-card-header>
          <mat-card-title>Billing</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <mat-form-field appearance="outline" class="w-100 m-t-16">
            <mat-label>Amount Due</mat-label>
            <input matInput formControlName="Amount" readonly/>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label>Adjus Due</mat-label>
            <input matInput formControlName="Amount" />
          </mat-form-field> -->

          <!-- Discounts -->
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>S.C Discount</mat-label>
            <input matInput formControlName="SeniorDiscount" readonly/>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <!-- Charges List -->
      <mat-card class="b-1 shadow-none" fxFlex="100">
        <mat-card-header>
          <mat-card-title>Charges</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <mat-list *ngIf="consumerCharges?.length !== 0 && billCharges?.length === 0">
            <mat-list-item *ngFor="let consumerCharge of consumerCharges">
              <span matListItemTitle class="f-s-12 f-w-600">{{ consumerCharge.Particular }}</span>
              <span matListItemLine class="mat-body-1">
                  <!-- <ng-container *ngIf="consumerCharge.Amount !== '.00'">
                    {{consumerCharge.Amount}}
                  </ng-container>
                  <ng-container *ngIf="consumerCharge.ChargeRate !== '.00'">
                    {{consumerCharge.TotalAmount}}
                  </ng-container> -->
                  {{ consumerCharge.Amount }}
              </span>
            </mat-list-item>
          </mat-list>
          <!-- <ng-template #noConsumerCharges>
            No Consumer Charges for this month
          </ng-template> -->
          <mat-list *ngIf="billCharges?.length !== 0">
            <mat-list-item *ngFor="let billCharge of billCharges">
              <span matListItemTitle class="f-s-12 f-w-600">{{ billCharge.Particulars }}</span>
              <span matListItemLine class="mat-body-1">
                  {{ billCharge.Amount }}
              </span>
            </mat-list-item>
          </mat-list>
          <!-- <ng-template #noBillCharges>
            No Bill Charges for this month
          </ng-template> -->
        </mat-card-content>
      </mat-card>
      <mat-form-field appearance="outline">
        <mat-label>Total Amount due</mat-label>
        <input matInput formControlName="TotalAmountDue" readonly/>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="m-t-16" fxLayout="row" fxLayoutAlign="end end">
  <button
  type="button"
  mat-flat-button
  color="primary"
  (click)="onCreateBill()"
  *ngIf="formData.action === 'Create'"
>
  Save
</button>
<button
  type="button"
  mat-flat-button
  color="primary"
  (click)="onEditBill()"
  *ngIf="formData.action === 'Edit'"
>
  Save
</button>
</div>
