<mat-tab-group>
  <form [formGroup]="editConsumerForm">
  <mat-tab label="Customer Information">
    <ng-container *ngIf="consumerInfo$ | async as consumerInfo;else noConsumerInfo">
      <div class="container">
        <div fxLayout="row">
          <mat-form-field class="w-100" appearance="outline" fxFlex="45">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="Firstname"/>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline" fxFlex="10">
            <mat-label>M.I</mat-label>
            <input matInput formControlName="Middlename" />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline" fxFlex="45">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="Lastname" />
          </mat-form-field>
        </div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Account Number</mat-label>
          <input matInput formControlName="AccountNo" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Service Address</mat-label>
          <input matInput formControlName="ServiceAddress" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Contact No</mat-label>
          <input matInput formControlName="ContactNo" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Zone</mat-label>
          <input matInput formControlName="Zone" />
        </mat-form-field>
        <button mat-flat-button color="primary" class="w-100" (click)="updateConsumerAccount(editConsumerForm.value)">Save</button>
      </div>
    </ng-container>
    <ng-template #noConsumerInfo>
      No consumer info to display
    </ng-template>
  </mat-tab>
  <mat-tab label="Installation Details">
    <p>edit-account-component works!</p>
    <ng-template #noConsumerInfo>
      No consumer info to display
    </ng-template>
  </mat-tab>
  </form>
</mat-tab-group>
