/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// .statusSuccess {
//   color: blue;
//   font-size: 12px;
//   margin-bottom: 10px;
//   background-color: yellow !important;
//   padding: 14px 20px;
// }

.mat-mdc-snack-bar-container {
  &.statusSuccess {
    --mdc-snackbar-container-color: green;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.statusFailed {
    --mdc-snackbar-container-color: red;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

  // #print-area {
  //   /* hide the printing component from @media screen */
  //   display: none;
  // }

// @media print {
//   /* invert the display (show/hide) properties of the main */
//   /* aplication component and the printing component       */

//   body * {
//     display: block;
//   }

//   #print-area, #print-area * {
//     /* hide the printing component from @media screen */
//     display: block;
//   }

//   #print-area {
//     position: absolute;
//     left: 0;
//     top: 0;
//   }

//   .mat-drawer-side {
//     border-right: 0px solid black !important;
//   }

//   // app-receipt {
//   //   display: block;
//   // }

// }
