/* CSS to style the mat-card and position the button */

mat-card-content {
  margin: 0 !important;
  padding: 0 !important;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Center vertically */
  gap: 0.5em;
  background-color: #f8f9fb !important;
  padding: 24px 16px;

  .left-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align items horizontally */
    align-items: center;
    gap: 5em;

    .subtitle {
      display: flex;
      flex-direction: column;
      // justify-content: flex-start; /* Align items horizontally */
      align-items:flex-start;

      .label {
        font-size: 14px;
      }

      .count {
        font-weight: bold;
        font-size: 18px;
        color: #007bff;
      }
    }
  }
}


.fab-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  border-radius:1em; /* Make it circular */
  width: auto;
  height: auto;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 6px 16px;
}

.fab-button:hover {
  background-color: #0056b3; /* Hover background color */
}


.gray {
  background-color: #f8f9fb;
}

.table-bordered {
  border: 1px solid #f8f9fb;
}

.customerActive {
  background-color: green;
  color: #ffffff !important;
  border-radius: 4px;
}

.customerDisconnected {
  background-color: red;
  color: #ffffff !important;
  border-radius: 4px;

}

.mat-column-AccountNo {
  width: 100px;
}

.mat-column-CustomerStatus {
  width: 50px;
}

.mat-column-ServiceAddress {
  width: 150px;
}


/* <select> styles */
// select {
//   /* Reset */
//   appearance: none;
//   border: 0;
//   outline: 0;
//   font: inherit;
//   /* Personalize */
//   width: auto;
//   padding: 0.5em;
//   background-color: #007bff;
//   color: white;
//   border-radius: 0.25em;
//   box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
//   cursor: pointer;
//   /* Remove IE arrow */
//   &::-ms-expand {
//     display: none;
//   }
//   /* Remove focus outline */
//   &:focus {
//     outline: none;
//   }
//   /* <option> colors */
//   option {
//     color: inherit;
//     background-color: var(--option-bg);
//   }
// }

.select-container {
  position: relative;
  display: inline-block;
}

/* Style the select */
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 30px 8px 10px; /* Adjust padding to fit the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 8em; /* Set the desired width */
  background-color: #007bff;
  color: #ffffff;
}

/* Style the icon */
.icon-container {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right distance for the icon */
  pointer-events: none; /* Ensure the icon doesn't interfere with select events */
  transform: translateY(-50%);
}

/* Style the icon (Material Icons in this case) */
.icon-container i {
  font-size: 24px; /* Adjust icon size as needed */
  color: #ffffff; /* Adjust icon color */
}
